.dashboard-container {
    padding: 20px;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.dashboard-card {
    width: var(--dashboard-card-width);
    height: var(--dashboard-card-height);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}